# code editors
.idea
.vscode
.fleet

# devenv
.direnv
.devenv*
devenv.local.nix
.pre-commit-config.yaml

# outputs
node_modules
.wrangler
.eslintcache
tsconfig.tsbuildinfo
/server
dist

# environment
.env
.dev.vars
